body {
            margin : 10px
        }

        div {
            padding: 10px;
        }
        div#TaskScreen {
            position : relative ;
            display: inline-block;
            border: 1px solid blue;
            width  : 30%
        }

        div#TasksGrid {
            position : absolute ;
            display: inline-block;
            border: 1px solid blue;
            width  : 60%
        }

        .heading {
            font : bold  large arial ;
            text-align   : center ;
            
        }
        .caption {
            font : bold medium arial;
            text-align :left 
        }

table {
    width : 100%;
}
 td {
       border-width :1px;
       border-style :solid;

       
}


